*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.icons{
    font-size: 100px;
    color: rgb(194, 93, 194);
}
.circulo{
    display: flex;
    justify-content: end;
    color:blue
}
.cruz{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    color: blue;
}
#pagina-2{
    background-image: url("./img/woman-using-tablet.jpg");
    background-size: cover;
    height: 80vh;
    margin-top: 10%;
    margin-bottom: 5%;
}
.tomanota{
    margin-top: 220px;
    margin-left: 180px;
    color: white;
    padding-right: 50%;
    font-family: 'Newsreader';
    font-size: 60px;
}
#feed{
    border-radius: 800px;
    background-color: blue;
    color: white;
}
#col-pag1{
    margin-top: 100px;
    text-align: left;
}

#btn2{
    border-radius: 800px;
    border-color: white;
    color: white;
    padding: 20px 20px;
    display: inline-block;
  
}

.btn:hover {
    color: #111;
    background: #8614ff;
    box-shadow: 0 0 50px #b814ff;

}
.pfooter{
    display: flex;
    justify-content: space-evenly;
    margin-left: 420px;
    margin-right: 500px;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    background-color: white;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:blue;
    
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    }
.nat{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.container{
    margin-top: 200px;
}
.prueba-footer{
    text-decoration: none;
    color: white;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .fondo {
      width: 100%;
    }
  }

.pag1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 5%;
}
.izq1{
    padding: 40px;
    margin-top: 20%;
}
.izq1 h1{
    font-size: 70px;
    font-family: 'Newsreader';
}
.izq1 p{
    font-size: 20px;
    color: gray;
    font-family: 'Mulish';
}
.phone-1{
    margin-top: 10%;
}
.movil{
    width: 15%;
    height: 63%;
    margin-left: -280px;
    position: absolute;
    border-radius: 28px;
}
.fondo{
    width: 45%;
    height: 118%;
    margin-left: 200px;
    margin-top: 6px;
    border-radius: 28px;
    z-index: 1;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }100%{
        filter: hue-rotate(360deg);
    }
}
.circulos{
    width: 450px;
    height: 520px;
    border-radius: 100%;
    margin-left: 110px;
    padding-top: 50px;
    position: absolute;
    z-index: -1;
}
.movil2{
    width: 14%;
    height: 55%;
    margin-left: -280px;
    position: absolute;
    border-radius: 28px;
}
.fondo2{
    width: 64%;
    height: 520px;
    margin-left: 2%;
    margin-top: 6px;
    border-radius: 28px;
    z-index: 1;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }100%{
        filter: hue-rotate(360deg);
    }
}
.circulos2{
    width: 350px;
    height: 420px;
    border-radius: 100%;
    margin-left: -100px;
    padding-top: 80px;
    position: absolute;
    z-index: -1;
}
.btn1 {
    padding: 20px 20px;
    display: inline-block;
}

.btn1:hover {
    color: #111;
    background: #2014ff;
    box-shadow: 0 0 50px #3314ff;
}